<div layout="column">
  <md-toolbar class="toolbar-section">
    <div class="md-toolbar-tools">
      <span>Scanner</span>
    </div>
    <span flex></span>
    <md-button class="md-accent" ng-click="showBoxDialog($event)">
      Box
    </md-button>

   </md-toolbar>
   <qr-scanner width="100%" height="100%" ng-success="onSuccess(data)" ng-error="onError(error)" ng-video-source="'4a6bb569ab7dba397381c64ae1571a3bb568f8ad2bc506411d29d9ae3b42e642'"/>
   </md-toolbar>
   <qr-scanner width="100%" height="100%" ng-success="onSuccess(data)" ng-error="onError(error)" ng-video-source="'4a6bb569ab7dba397381c64ae1571a3bb568f8ad2bc506411d29d9ae3b42e642'"/>
