<h3>Login</h1>
<div ng-show="error"></div>
<form class="" ng-submit="login()">
  <div class="">
    <input type="text" class="" name="username" id="username" ng-model="loginForm.username" required>
    <label class="" for="username">Username</label>
  </div>
  <div class="">
    <input type="password" class="" name="password" id="password" ng-model="loginForm.password">
    <label class="" for="password">Password</label>
  </div>
  <div>
    <button type="submit" class="">Login</button>
  </div>
</form>
